app/flexbox1.html
<!DOCTYPE html><html lang="en"><head><title>Flexbox example 1</title><link rel="stylesheet" href="css/main.min.css"></head><body><div class="page-wrap"><section class="main-content"><h1>Main main-content</h1><p>Tekst</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem itaque, assumenda commodi nesciuntest neque debitis explicabo atque, laudantium perferendis repudiandae magnam aspernatur qui laboriosam modi ullam similique sapiente, ex.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reiciendis numquam odit, tempore maxime. Rerum quidem temporibus error, vero praesentium officiis molestiae animi quae repudiandae laborum obcaecati, necessitatibus natus perferendis.</p></section><nav class="main-nav"><h2>Navigatie</h2><ul><li><a>Home</a></li><li><a>About</a></li><li><a>Clients</a></li></ul></nav><aside class="main-sidebar"><h2>Sidebar</h2><p>Tekst</p></aside></div></body></html>

dev/jade/flexbox1.jade
doctype html
html(lang="en")
	head
		title Flexbox example 1
		link(rel='stylesheet', href='css/main.min.css')
	body
		.page-wrap
			section.main-content
				h1 Main main-content
				p Tekst
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem itaque, assumenda commodi nesciuntest neque debitis explicabo atque, laudantium perferendis repudiandae magnam aspernatur qui laboriosam modi ullam similique sapiente, ex.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reiciendis numquam odit, tempore maxime. Rerum quidem temporibus error, vero praesentium officiis molestiae animi quae repudiandae laborum obcaecati, necessitatibus natus perferendis.
			nav.main-nav
				h2 Navigatie
				ul
					li
						a Home
					li
						a About
					li
						a Clients
			aside.main-sidebar
				h2 Sidebar
				p Tekst
