app/flexbox2.html
<!DOCTYPE html><html lang="en"><head><title>Flexbox example 1</title><link rel="stylesheet" href="css/main.min.css"></head><body><div class="blockgroup"><div class="block block1">1</div><div class="block block2">2</div><div class="block block3">3</div><div class="block block4">4</div><div class="block block5">5</div><div class="block block6">7</div></div></body></html>

dev/jade/flexbox2.jade
doctype html
html(lang="en")
	head
		title Flexbox example 1
		link(rel='stylesheet', href='css/main.min.css')
	body
		.blockgroup
			.block.block1 1
			.block.block2 2
			.block.block3 3
			.block.block4 4
			.block.block5 5
			.block.block6 7
